.container {
  background-color: #131313;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "content picture";
}

.header {
  background-color: #ffffff;
  grid-area: header;
}

.content {
  display: flex;
  background-color: #131313;
  align-content: center;
  grid-area: content;
}

.box {
  margin-top: 30%;
  margin-left: 15%;
  height: 40%;
  width: 30%;
  color: #fff;
}

.scaneats {
  font-size: 4rem;
}

.subtext {
  margin-top: 100%;
  font-size: 1.5rem;
}

.picture {
  margin-left: 70%;
  margin-top: 30%;
  grid-area: picture;
}
